<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: #0C1A3D;
        background-size: contain;
    }
</style>
@using SigortaDefterimV2API.Models
@model SigortaDefterimV2API.Models.PasswordResetInfoModel


<div>

</div>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@8'></script>
<script>
    debugger
    var result = JSON.parse('@Html.Raw(Json.Serialize(Model.Status))');
    switch (result) {
        case 'success':
        Swal.fire(
            'Üyeliğiniz Başarıyla Aktif Edilmiştir.',
            '',
            'success'
            );
            break;
        case 'fail':
        Swal.fire(
            'İşlem devam ederken bir sorun oldu!',
            'İletişim: 0212 325 68 00',
            'warning'
            );
            break;
        case 'invalid':
            Swal.fire(
                'Geçerli olmayan Url',
                'Url adresi geçerli değidir.',
                'error'
            );
            break;
    }

</script>